.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: aliceblue;
  border-radius: 12px;
  gap: 25px;
}

.buttonWrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.kanban,
.scrum {
  border: none;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(173, 173, 248);
  font-weight: 700;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
