.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col1,
.col2,
.col3 {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-right: 1px solid rgb(60, 36, 60);
  color: white;
  padding-top: 20px;
}

.col-3 {
  border: none;
}

.title {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  width: 80%;
  justify-content: end;
  gap: 50px;
  margin-top: 10px;
}

.add {
  padding: 5px 20px;
  color: white;
  background-color: rgb(115, 18, 115);
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.addInput {
  width: 80%;
  height: 35px;
  border-radius: 12px;
  padding-left: 5px;
  outline: none;
  border: none;
  margin-top: 8px;
}

.doing,
.done {
  display: flex;
  justify-content: space-between;
  background-color: rgb(115, 18, 115);
  width: 90%;
  padding: 10px 10px;
  border-radius: 12px;
  align-items: center;
  margin-top: 8px;
}

.trashIcon,
.pen-icon,
.checkIcon {
  font-size: 30px;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 10px;
}

.kanban {
  color: rgb(47, 28, 47);
  font-size: 200px;
  z-index: -1;
  position: absolute;
  opacity: 50%;
}
