.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrum {
  color: rgb(47, 28, 47);
  font-size: 200px;
  z-index: -1;
  position: absolute;
  opacity: 50%;
}
