.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrum {
  color: rgb(47, 28, 47);
  font-size: 200px;
  z-index: -1;
  position: absolute;
  opacity: 50%;
}

.col1,
.col2,
.col3,
.col4 {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-right: 1px solid rgb(60, 36, 60);
  color: rgb(0, 0, 0);
  padding-top: 20px;
}

.col-3 {
  border: none;
}

.title {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  width: 80%;
  justify-content: end;
  gap: 50px;
  margin-top: 10px;
}

.add {
  padding: 5px 20px;
  color: white;
  background-color: rgb(115, 18, 115);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition-duration: 200ms;
}

.add:hover {
  padding: 7px 23px;
  background-color: rgb(78, 13, 78);
}

.addInput {
  width: 80%;
  min-height: 35px;
  border-radius: 4px;
  padding-left: 5px;
  outline: none;
  border: none;
  margin-top: 8px;
  background-color: white;
}

.doing,
.done {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 90%;
  min-height: 40px;
  padding: 10px 10px;
  border-radius: 4px;
  align-items: center;
  margin-top: 8px;
  cursor: grab;
  transition-duration: 150ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.doing:hover {
  width: 91%;
  height: 41px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition-duration: 200ms;
}

.icon:hover {
  font-size: 23px;
  color: rgb(255, 141, 255);
}

.icons {
  display: flex;
  gap: 10px;
}

.todo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.ticketWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleBtn {
  position: absolute;
  bottom: 70px;
  right: 70px;
  border: none;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  font-weight: 700;
  background-color: rgb(115, 18, 115);
  color: white;
  cursor: pointer;
  transition-duration: 300ms;
}

.toggleBtn:hover {
  height: 73px;
  width: 73px;
  background-color: rgb(78, 13, 78);
}
