.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerBox {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: aliceblue;
  border-radius: 12px;
  gap: 40px;
}

h1 {
  margin-top: 10px;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(173, 173, 194);
  color: black;
  outline: none;
  padding-left: 10px;
}

.userPassBox {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.email {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 3px;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.btnWrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 80px;
  height: 30px;
  border-radius: 12px;
  border: none;
  background-color: rgb(49, 49, 135);
  color: white;
  cursor: pointer;
}

.already {
  display: flex;
  align-items: center;
  gap: 4px;
}

.signIn {
  border: none;
  background-color: transparent;
  color: rgb(49, 49, 135);
  cursor: pointer;
}
