* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: monospace;
}

.wrapper {
  position: relative;
}

.togglebtn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  bottom: 50px;
  right: 70px;
  border: none;
  background-color: rgb(115, 18, 115);
  color: white;
  z-index: 10;
}
