.togglebtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  bottom: 50px;
  right: 70px;
  border: none;
  background-color: rgb(115, 18, 115);
  color: white;
  z-index: 10;
  transition-duration: 200ms;
  box-shadow: 10px 5px 5px black;
}

.togglebtn:hover {
  width: 65px;
  height: 65px;
  background-color: rgb(78, 13, 78);
}
