.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 12px;
  gap: 30px;
}

.title {
  height: 33%;
  text-align: start;
  width: 80%;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(173, 173, 194);
  color: black;
  outline: none;
  padding-left: 10px;
}

.loginForm {
  height: 66%;
  width: 80%;
}

.userPassBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  height: 33%;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.btnWrapper {
  width: 100%;
  height: 33%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit {
  width: 80px;
  height: 30px;
  border-radius: 12px;
  border: none;
  background-color: rgb(49, 49, 135);
  color: white;
  cursor: pointer;
}

.already {
  display: flex;
  align-items: center;
  gap: 4px;
}

.createAccount {
  border: none;
  background-color: transparent;
  color: rgb(49, 49, 135);
  cursor: pointer;
}
